{% spaceless %}<?xml version='1.0' encoding='ISO-8859-1' ?>

    <!DOCTYPE html
         PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
         'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>

    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
        <head>
            <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />

            <title>BenEvolution Consulting snc - Official Website</title>

            <meta name="title"          content="BenEvolution Consulting snc - Official Website" />
            <meta name="keywords"       content="benevolution consulting,ben evolution consulting,benevolution,ben evolution,genova,marketing,marketing strategy" />
            <meta name="description"    content="" />
            <meta name="robots"         content="index,follow" />
            <meta name="date"           content="10Jun2009" />
            <meta name="revisit-after"  content="30 Days" />
            <meta name="last-update"    content="2010-03-28 09:51:54.755617" />
            <meta name="subject"        content="BenEvolution Consulting snc" />
            <meta name="author"         content="BenEvolution Consulting snc" />
            <meta name="publisher"      content="BenEvolution Consulting snc" />
            <meta name="reply-to"       content="filippo@baruffaldi.info" />
            <meta name="verify-v1"        content="oUUoyPWh1YNwfddWC43McP4uBCiHJYWep8dLRamO4k4=" >
            <meta name="msvalidate.01"  content="6D38EE6DC5CD4380B9A497388B3A9723" />

            <link href='http://fonts.googleapis.com/css?family=Over+the+Rainbow&v1' rel='stylesheet' type='text/css'>
            <link rev="made"            href="mailto:filippo@baruffaldi.info" />
            <link rel="shortcut icon"   href="/static/images/filippo-baruffaldi-icon2.png" type="image/png" />

            <style>{% endspaceless %}
body { margin: 10px 0 0 0; padding:0; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #F2F2F2), to(#FAFAFA));
	background: -moz-linear-gradient(top, #F2F2F2 50%, #FAFAFA);}

html {
margin: 0; padding:0;
font-size: 14px;
color: #333333;
                   font-family: arial, Georgia,"Bitstream Vera Serif","Times New Roman",serif; }

                a, a:link, a:visited, a:hover { text-decoration: none; border: none; color: #777777; }

                img {text-decoration:none; border: none;}

                #content { 
line-height: 60px;
text-align: center; position: relative; z-index: 100;
text-shadow: 2px 2px 3px #adbfe4, 1px 3px 5px #7187b6;
font-family: 'Over the Rainbow', arial, serif;
font-size: 50px;
margin: 0 auto 0 auto; text-align: center; color: #333333; }

                #header { 
padding: 0 0 0 0;
text-align: center; }

                #sub-content { 
text-shadow: 2px 2px 3px #7187b6, 1px 3px 5px #adbfe4;
font-family: 'Over the Rainbow', arial, serif;
font-size: 30px;
text-align: center; color: #333333; }

                #footer {
padding: 10px 0;
z-index: 700;
text-shadow: #7187b6 1px 1px 1px,#adbfe4 1px 1px 1px;
filter:alpha(opacity=70);
opacity:0.7;
text-align: center;color: #cccccc;
position: absolute;
bottom: 0;
width: 100%;
}
                #wrapper { width:100%;height:100%;position: absolute;top:0;left:0;z-index: 10000; }

h1,h2,h3,div,img,p{
padding:0;
margin:0;
}
            </style>{% spaceless %}

                <script type="text/javascript">
                    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                </script>

                <script type="text/javascript">
                    try {
                    var pageTracker = _gat._getTracker("UA-22894000-2");
                    pageTracker._trackPageview();
                    } catch(err) {}
                    
                    var a = function(){
                    	window.location = 'mailto:info@benevolution.it?subject=Messaggio%20dal%20sito';
                    }
                </script>

        </head>
        <body">
            <div id="main"">
                <div id="content" onclick="a();">
                    <div id="header">
                            <img src="/static/ben.png" alt="BenEvolution Consulting snc * Via Cecchi 5/2A 16129 * Genova * P.I. 01966940999" />
                    </div>
                    <div id="content">
                    	... We're coming soon ...
                    </div>
                    <div id="sub-content">
                    	Stay tuned!
                    </div>
                </div>
                <div id="footer">
                    2011 &copy; BenEvolution Consulting snc * Via Cecchi 5/2A 16129 * Genova * P.I. 01966940999<br />
                    Powered by <a target="_blank" href="http://www.gbc-italy.com" title="GB Consulting">GBC</a> - Designed by <a target="_blank" href="http://www.luciacavaliere.com" title="Lucia Cavaliere">Lucia Cavaliere</a> - Developed by <a target="_blank" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a>
                </div>
            </div>
        </body>
    </html>{% endspaceless %}