﻿{% extends 'shared.html' %}

{% block title %}Home - {% endblock %}

{% block head %} 
		<meta name="description"    content="GB Consulting di Filippo Baruffaldi" /> 
{% endblock %}

{% block body %}
<div class="box"><div class="box_content" id="home">
	<img src="/static/home.png" alt="La sconfitta è un eleganza per chi si arrende in partenza... Dai alla tua strada un nome e l’ultima risposta! Benevolution Consulting" />
</div></div>
{% endblock %}