{% spaceless %}<?xml version='1.0' encoding='ISO-8859-1' ?>

    <!DOCTYPE html
         PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
         'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>

    <html xmlns="http://www.w3.org/1999/xhtml" lang="en">
        <head>
            <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />

            <title>{% block title %}{% endblock %}BenEvolution Consulting snc - Official Website</title>

            <meta name="title"          content="BenEvolution Consulting snc - Official Website" />
            <meta name="keywords"       content="benevolution consulting,ben evolution consulting,benevolution,ben evolution,genova,marketing,marketing strategy" />

            <meta name="robots"         content="index,follow" />
            <meta name="date"           content="10Jun2009" />
            <meta name="revisit-after"  content="30 Days" />

            <meta name="subject"        content="BenEvolution Consulting snc" />
            <meta name="author"         content="BenEvolution Consulting snc" />
            <meta name="publisher"      content="BenEvolution Consulting snc" />
            <meta name="reply-to"       content="filippo@baruffaldi.info" />

            <link rev="made"            href="http://www.gbc-italy.com" />
            <link rev="made"            href="mailto:filippo.baruffaldi@gbc-italy.com" />
            <link rel="shortcut icon"   href="/static/images/filippo-baruffaldi-icon2.png" type="image/png" />
{% endspaceless %}
            <style>{% include 'style.css' %}</style>
{% spaceless %}
	        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	        <script type="text/javascript">google.load('jquery', '1');google.load('jqueryui', '1');</script>
{% block head %}{% endblock %}
        </head>
        <body>
            <div id="main">
            	<div id="menu">
            		<div id="menu_left"></div>
            		<div id="menu_list">
	            		<dl>
	            			<dd style="border: none;"><input type="text" name="search" id="search_box" /></dd>
	            			<dd>Contatti</dd>
	            			<dd>HF</dd>
	            			<dd>Partners</dd>
	            			<dd>Affiliati</dd>
	            			<dd>I nostri Servizi</dd>
	            			<dd>Staff</dd>
	            			<dd>I nostri Corsi</dd>
	            			<dd>Home</dd>
	            		</dl>
            		</div>
            		<div id="menu_right"></div>
            	</div>
            	<br class="clear" />
                <div id="content">
					{% block body %}Benvenuto nel sito di BenEvolution Consulting snc!{% endblock %}
                </div>
                <div id="subcontent">
                	<div class="box small" style="margin-left:0;">
                		<div class="box_content newsletter">
                			<img src="/static/newsletter.png" alt="Iscriviti alla Newsletter" />
                			<h2>Email</h2>
                			<form action="/newsletter/subscribe" method="get">
                				<input type="text" name="email" /><input type="submit" name="email_submit" value="&gt;" />
                			</form>
                			<p>L’iscrizione alla newsletter comporta l’accettazione dei termini circa il trattamento dei dati personali.</p>
                		</div>
                	</div>
                	<div class="box small">
                		<div class="box_content">
                			<h1>BenEvolution News</h1>
                			<div class="news firstnews">
                				<div class="news_header">
                					<p><span>08 lug 11</span> | Titolo news numero uno</p>
                				</div>
                				<p>Ut nec risus nec neque sodales auctor vitaeque sodales auctor vitae..</p>
                			</div>
                			<div class="news">
                				<div class="news_header">
                					<p><span>08 lug 11</span> | Titolo news numero uno</p>
                				</div>
                				<p>Ut nec risus nec neque sodales auctor vitaeque sodales auctor vitae..</p>
                			</div>
                		</div>
                	</div>
                	<div class="box small">
                		<div class="box_content">
                			<h1>I nostri Servizi</h1>
                			<ul>
                				<li>Consulenza Commerciale</li>
                				<li>Open Day</li>
                				<li>Riorganizzazione Aziendale</li>
                				<li>Consulenza d'Immagine</li>
                				<li>I nostri Corsi</li>
                			</ul>
                		</div>
                	</div>
                	<br class="clear" />
                </div>
                <div id="footer">
                    <p>2011 &copy; BenEvolution Consulting snc * Via Cecchi 5/2A 16129 * Genova * Tel. +39-010-0000000 * info [at] benevolution [dot] it * P.I. 01966940999</p>
                    <p id="credits">Powered by <a target="_blank" href="http://www.gbc-italy.com" title="GB Consulting">GBC</a> - Designed by <a target="_blank" href="http://www.luciacavaliere.com" title="Lucia Cavaliere">Lucia Cavaliere</a> - Developed by <a target="_blank" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p>
                </div>
            </div>

			<script type="text/javascript">
			    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			    try {
			    var pageTracker = _gat._getTracker("UA-22894000-2");
			    pageTracker._trackPageview();
			    } catch(err) {}
			</script>
        </body>
    </html>{% endspaceless %}