/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/****************************************************/

/*
Copyright (c) 2011, GB Consulting
Code licensed under the GNUv3
version: 0.0.1
*/

@font-face {
    font-family: 'Scriptina';
    src: url('/static/fonts/scriptin-z.eot');
    src: url('/static/fonts/scriptin-z.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/scriptin-z.woff') format('woff'),
         url('/static/fonts/scriptin-z.ttf') format('truetype'),
         url('/static/fonts/scriptin-z.svg#ScriptinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LucidaGrande';
    src: url('/static/fonts/lucida_grande-z.eot');
    src: url('/static/fonts/lucida_grande-z.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lucida_grande-z.woff') format('woff'),
         url('/static/fonts/lucida_grande-z.ttf') format('truetype'),
         url('/static/fonts/lucida_grande-z.svg#LucidaGrandeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'LucidaGrandeBold';
    src: url('/static/fonts/lucida_grande_bold-z.eot');
    src: url('/static/fonts/lucida_grande_bold-z.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lucida_grande_bold-z.woff') format('woff'),
         url('/static/fonts/lucida_grande_bold-z.ttf') format('truetype'),
         url('/static/fonts/lucida_grande_bold-z.svg#LucidaGrandeBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-size: 12pt;
	background-color: #fffffff;
	color: #666666;
	text-shadow: 1px 1px 1px #ffffff;
	font-family: 'LucidaGrande';
}

h1 {
	font-size: 24pt;
}

h2 {
	font-size: 14pt;
}

a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: #1f4a85;
}

.clear {
	clear: both;
	width: 0;
	height: 0;
}

#search_box {
	background-image: url('/static/search.png');
	background-color: transparent;
	border: 0px none #333;
	height: 25px;
	width: 183px;
	position: relative;
	top: -2px;
}

#main {
	width: 982px;
	padding: 0 5px;
	margin: 0 auto;
}

//div {	border: 1px solid black; }

#menu {
	text-align: center;
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	text-shadow: -1px -1px 1px #adbfe4;
	margin-top: 20px;
}

#menu_left {
	background-image: url('/static/menu_corners.png');
	width: 15px;
	height: 40px;
}

#menu_list {
	background-image: url('/static/menu.png');
	position: absolute;
	margin-left: 15px;
	padding-left: 15px;
	top: 20px;
	width: 937px;
	float: left;
}

#menu_right {
	background-image: url('/static/menu_corners.png');
	background-position: 15px 0px;
	width: 15px;
	height: 40px;
	float: right;
	position: relative;
	top: -40px;
	right: 0;
}

#menu dl dd {
	border-right: 1px solid #adbfe4;
	border-left: 1px solid #7187b6;
	margin-top: 2px;
	height: 29px;
	padding: 7px 10px 0 10px;
	float: right;
}

#content {
	margin-bottom: 30px;
	margin-top: -20px;
}

#content .box .box_content {
	min-height: 280px;
	padding: 0 20px;
}

.box {
	-webkit-box-shadow: rgba(0, 0, 0, 0.449219) 0px 1px 3px 0px;
	-webkit-font-smoothing: antialiased;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: white;
	background-image: none;
	background-origin: padding-box;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-width: 0px none #333;
	box-shadow: rgba(0, 0, 0, 0.449219) 0px 1px 3px 0px;
	color: #333;
	margin-bottom: 10px;
	padding: 3px;
	text-align: left;
}

.box_content
{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #FAFAFA), to(#F2F2F2));
	background: -moz-linear-gradient(top, #FAFAFA 50%, #F2F2F2);
}

.small
{
	width: 300px;
}

#subcontent .box {
	float: left;
	margin: 0 0 0 30px;
}

#subcontent .box .box_content {
	min-height: 215px;
}

#subcontent .box .box_content h1
{
	text-align: center;
	font-family: "LucidaGrandeBold";
	font-size: 20pt;
	color: #000000;
}

#subcontent .box .box_content ul {
	margin: 20px 0 0 40px;
	color: #1f4a85;
	font-size: 14pt;
	font-weight: bold;
}

#subcontent .box .box_content ul li {
	margin: 5px 0;
	list-style-image: url('/static/bull.png');
}

#subcontent .box .box_content .news {
	text-align: center;
	border-top: 1px solid #999999;
	padding: 10px;
	margin: 10px;
	font-size: 12pt;
}

#subcontent .box .box_content .firstnews {
	border-top: 0px none #999999;
}

#subcontent .box .box_content .news_header p {
	font-size: 12pt;
	vertical-align: middle;
	font-weight: bold;
	color: #1f4a85;
}

#subcontent .box .box_content .news_header p span {
	font-size: 10pt;
	font-weight: normal;
	color: #90abe2;
}

#subcontent .box .newsletter img {
	position: relative;
	top: -3px;
	left: -13px;
}

#subcontent .box .newsletter {
	padding: 0 10px;
	font-size: 8pt;
}

#subcontent .box .newsletter h2 {
	font-size: 14pt;
	font-weight: bold;
	color: #1f4a85;
}

#subcontent .box .newsletter input {
	font-size: 12pt;
	margin-bottom: 10px;
}

#subcontent .box .newsletter input[type=text] {
	background-color: #1f4a85;
	border: 0px none #333;
	height: 25px;
	width: 255px;
}

#subcontent .box .newsletter input[type=submit] {
	background-color: #7187b6;
	border: 0px none #333;
	height: 25px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	position: relative;
	top: 4px;
	width: 25px;
	font-family: arial, sans-serif, Verdana;
}

#footer {
	color: #999999;
	text-align: center;
	font-size: 10pt;
	padding-top: 30px;
}

#credits {
	font-size: 9pt;
	color: #bbbbbb;
	text-align: center;
}

#credits a, #credits a:hover, #credits a:active, #credits a:visited {
	text-decoration: none;
	color: #999999;
}

