{% extends 'shared.html' %}

{% block title %}Welcome!{% endblock %}

{% block head %}
        <meta name="title"          content="Maurizio Gregorini - Facebook Fan Page" /> 
        <meta name="description"    content="Maurizio Gregorini per Genova" /> 
{% endblock %}

{% block body %}
	<div id="main">
		<div id="header">
			<img src="/static/riprendiamoci_genova.png" alt="Riprendiamoci Genova!" />
			<img style="float:right;margin-top:30px;" src="/static/con_maurizio_gregorini.png" alt="...con Maurizio Gregorini" />
		</div>
		<div id="twitter">
			<div id="news_courtesy_msg">...Loading...</div>
			<dl id="news_container"></dl>
		</div>
	</div>
	<div id="credits">
		Page powered by GBC and developed by <a style="font-size:14px;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a>
	</div>
    <script>
	    var twitter_name = "neoaristocratic";
	    var twitter_count = 30;
	    var callback_name = "news_callback";
	    var twitter_search = "http://twitter.com/statuses/user_timeline";
	    var return_type = "json";
	    var time_separator = ".";
	    var date_separator = ".";
	
	    ( function() {
	    	var ts = document.createElement('script');
	    	ts.type = 'text/javascript';
	    	ts.async = true;
	    	ts.src = twitter_search + "." + return_type + "?screen_name=" + twitter_name + "&count=" + twitter_count + "&callback=" + callback_name;
	    	( document.getElementsByTagName( 'head' )[ 0 ] || document.getElementsByTagName( 'body' )[ 0 ] ).appendChild( ts );
	    } )();
	
	    var temp;
	    function news_callback( data ) {
	    	$("#news_courtesy_msg").hide();
	    	$.each( data, function( i, tweet ) {
	    			if( tweet.text != undefined ) {
	    				var text = tweet.text.toString().replace( /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig, '<a href="$1">$1</a>' ).replace( /(^|\s)@(\w+)/, '<a href="http://www.twitter.com/$2">@$2</a>' ).replace( /[#]+[A-Za-z0-9-_]+/ig, function(t) { var tag = t.replace("#","%23"); return t.link("http://search.twitter.com/search?q="+tag); } );
	    				var datetime = new Date(tweet.created_at);
	    				var time = datetime.getHours() + time_separator + datetime.getMinutes();
	    				var date = datetime.getDate() + date_separator + datetime.getMonth() + date_separator + datetime.getFullYear();
	    				$( "#news_container" ).append( "<dt>" + text + "</dt><dd>Scritto da neoaristocratic il " + date + " alle ore " + time + ".</dd><dt><hr /></dt>");
	    			}
	    			temp = tweet;
	    	} );
	    }
    </script>
    
    <div id="fb-root" style="text-align:center"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Canvas.setAutoResize();
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
{% endblock %}