{% extends 'shared.html' %}
{% block title %}Welcome!{% endblock %}
{% block head %}
		<meta name="title"          content="GB Consulting di Filippo Baruffaldi" /> 
		<meta name="description"    content="GB Consulting di Filippo Baruffaldi" /> 
{% endblock %}
{% block body %}
<div id="container">
	<div id="header">
		<div id="header_left">
			<img src="/static/logo_header.png" alt="GB Consulting di Filippo Baruffaldi" /> Consulting
		</div>
		Nobody can hack our Minds!
	</div>
	<div id="content">
		Siamo spiacenti, ma al momento siamo troppo impegnati sui progetti dei nostri Clienti e non abbiamo nemmeno il tempo per seguire il nostro sito.<br />
		<br />
		Arriveremo online al piu' presto!<br />
		<!-- 
		Layout a tendina a comparsa<br />
		Prima slide: intro logo e frase coming soon progetti<br />
		Seconda slide: centrato in the middle carousel dei progetti attuali (se click go link)
		logo a sinistra e motto a destra(Nobody can hack our mind) -->
	</div>
	<div id="footer">
		<div id="footer_left">
			<img src="/static/logo.png" alt="GB Consulting di Filippo Baruffaldi" />
			Via XX Settembre<br />
			16129 Genoa (Italy)<br />
			P.I. 02044590996<br />
			<a href="mailto:info@gbc-italy.com?subject=Message%20from%20www.gbc-italy.com" title="info@gbc-italy.com">info@gbc-italy.com</a><br />
			<a target="_blank" href="http://chart.apis.google.com/chart?cht=qr&amp;chs=350x350&amp;chl=MECARD%3AN%3AFilippo+Baruffaldi%3BTEL%3A%2B393293855555%3BURL%3Ahttp%3A%2F%2Fwww.gbc-italy.com%3BEMAIL%3Afilippo.baruffaldi%40gbc-italy.com%3BADR%3AVia+XX+Settembre%2C+20%3B%3B" title="Filippo Baruffaldi Contact Card">Android Contact Card</a><br /> 
			<i>...or just call</i> <a href="callto:+393293855555" title="Phone">+39-329-38-55555</a><br />
			<span id="cdSiteSeal2"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal2&amp;cdSealType=Seal2&amp;sealId=55e4ye7y7mb73c6638b1961fa5f8a37p759y7mb7355e4ye7f9031271f6311298"></script></span>
		</div>
		<div id="footer_right">
			<table><tr>
			<td><dl>
				<dt>Servizi</dt>
				<dd>Consulenza</dd>
				<dd>Sviluppo</dd>
				<dd>Assistenza</dd>
			</dl></td>
			<td><dl>
				<dt>Portfolio</dt>
				<dd>29b</dd>
				<dd>Anna Corti</dd>
				<dd>Benevolution Consulting</dd>
				<dd>Graham Jane</dd>
				<dd>Main Agency</dd>
				<dd>Maurizio Gregorini</dd>
				<dd>MushLab</dd>
			</dl></td><!-- 
			<td><dl>
				<dt>Links</dt>
				<dd>SPAM Remover</dd>
				<dd>AGCOM</dd>
				<dd>AGPRIVACY</dd>
			</dl></td>
			<td><dl>
				<dt>Consulenza</dt>
				<dd></dd>
				<dd></dd>
			</dl></td>
			<td><dl>
				<dt>Sviluppo</dt>
				<dd></dd>
				<dd></dd>
			</dl></td>
			<td><dl>
				<dt>Assistenza</dt>
				<dd></dd>
				<dd></dd>
			</dl></td> -->
			</tr></table>
		</div>
		<hr style="border:none;clear:both;" />
		2011 &copy; GB Consulting di <a href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a>
	</div>
</div>
<div id="fb-root" style="text-align:center"></div>
<script>
	window.fbAsyncInit = function() {
		FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
		         xfbml: true});
		FB.Canvas.setAutoResize();
	};
	(function() {
		var e = document.createElement('script');
		e.type = 'text/javascript';
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	}());
</script>
{% endblock %}